@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
// Variable *******
$grey1:#F6F6F6;
$grey2:#EAEAEA;
$grey3:#7E7E7E;
$purple:#9356DC;
$darkgrey:#353535;
$gradient1:#ff79d9;
$gradient2:#9356dc;
$gradient:linear-gradient($gradient1,$gradient2);
$gradient-revers:linear-gradient($gradient2,$gradient1);
